body {
  background-color: #595959;
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  color: white;
}

div {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333331;

  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  font-weight: 500;
  height: auto;

}

#menuList {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#completeItemsTitle {
  clear: left;
  font-size: 20px;

  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;

}

#completedItemsDescription {
  padding: 10px;
}

#completedItemsList {
  display:inline-block;
  border:1px solid #000;
  padding: 5px;
  padding-bottom: :20px;
  background-color: #333331;

  list-style-type: none;
  padding:0;
  margin:0;

}

#completedItemsList > li {
  display: inline-block;
}

#completedTaskButton {
  font-size: 10px;
  border-color: #e7e7e7;
  color: black;
  border-radius: 5px;

  border: 2px solid black;
  background-color: white;
  color: black;
  padding:

  cursor: pointer;
}

#completedTaskButton:hover {
  background: #e7e7e7;
}
