<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href='/static/style3.css' />
  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}
  </head>
  <body>

    <header>
      <nav>
        <ul id="menu">
          <li id="menuList"><a  href="{{ url_for('incompleteTasks') }}">VIEW ALL TASKS</a></li>
          <li id="menuList"><a href="{{ url_for('completedTasks') }}">VIEW ALL COMPLETED TASKS</a></li>
          <li id="menuList"><a href="{{ url_for('createForm') }}">CREATE TASK</a></li>
        </ul>
      </nav>
    </header>

    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
