{% extends "base.html" %}
 {% block content %}

<h1><u>Complete Tasks</u></h1>

<h2>List of Complete Tasks</h2>

            {% for todo in completed_tasks %}
            <ul id = "completedItemsList">
              <div>
                <li id = "completeItemsTitle">{{ todo.task }} </li>
                <li id = "completedItemsDescription">{{ todo.description}}  </li>



              </div>
            </ul>
            {% endfor %}



{% endblock %}
