{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Create Task</h1>
<form action="/" method="POST" name="todoSubmit">
    {{ form.hidden_tag() }}
    <p>
      TASK NAME {{ form.task_name }}<br>
    </p>
    <p>
      DESCRIPTION  {{ form.task_description }}</p>
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
