{% extends "base.html" %}
 {% block content %}

<h1><u>Incomplete Tasks</u></h1>

<h2>List of Incomplete Tasks</h2>

            {% for todo in completed_tasks %}
            <ul id = "completedItemsList">
              <div>
                <li id = "completeItemsTitle">{{ todo.task }} </li>
                <li id = "completedItemsDescription">{{ todo.description}}  </li>

                <a id = "completedTaskButton" href="{{ url_for('completeTask', id = todo.id) }}">COMPLETE</a>

              </div>
            </ul>
            {% endfor %}



{% endblock %}
